<hr style="margin-top:50px">
<div class="row center">
    <h5 class="header col s12 light">
    Disease prediction
    </h5>
</div>
<h3 class="header center green-text">Tomato Bacterial Spot</h3>
<hr style="margin-bottom:20px">

<div class="row center">
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Bacterial_spot/1.jpg">
    </div>
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Bacterial_spot/2.jpg">
    </div>
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Bacterial_spot/3.jpg">
    </div>
</div>

<div>
    <h5 class="header center green-text">Introduction</h5>
    <p style="font-size: 17px;line-hight: 5px">
        Tomato bacterial spot is a common and destructive disease caused by the bacterium Xanthomonas vesicatoria. It affects tomato plants worldwide, particularly in warm and humid environments. Bacterial spot causes dark, raised lesions on leaves, stems, and fruit, leading to defoliation and reduced crop quality. The disease can spread rapidly through contaminated seeds, transplants, or splashing water. Effective management and treatment strategies are important to control bacterial spot and minimize its impact on tomato production.
    </p>
    <br>
    <h5 class="header center green-text">Identification</h5>
    <ul>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Symptoms of bacterial spot include dark, water-soaked lesions on leaves, stems, and fruit</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Lesions may become necrotic (turn brown or black) and develop a raised, scabby appearance</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Infected fruit may exhibit sunken lesions and may rot, leading to post-harvest losses</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Under favorable conditions, bacterial exudates may be visible on the surface of the lesions</li>
    </ul>
    <br>
    <h5 class="header center green-text">Managing and Treatment</h5>
    <ul>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Plant disease-resistant tomato varieties that have been bred to be resistant to bacterial spot</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Practice crop rotation to reduce the build-up of bacterial populations in the soil</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Avoid overhead irrigation or minimize splashing of water onto the foliage, as this can help prevent the spread of bacteria</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Remove and destroy infected plant material, including infected fruit and debris, to prevent the further spread of the disease</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Implement strict sanitation practices, such as disinfecting tools and equipment between uses, to minimize the risk of bacterial transmission</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Apply copper-based bactericides or other approved bactericides to manage bacterial spot; follow label instructions and apply preventatively or at the first signs of infection</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Use copper products with caution and in accordance with local regulations and restrictions</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Monitor plants regularly for signs of infection and take prompt action to prevent the spread of bacterial spot</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Seek advice from local agricultural extension services or plant pathology experts for region-specific recommendations on managing tomato bacterial spot.</li>
    </ul>
</div>