<hr style="margin-top:70px;" id="Categories">
    <h5 class="center header col s12 light">
    Categories
    </h5>
<hr style="margin-bottom:20px">
<div class="row center">
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Early_blight/1.jpg">
        <p style="margin-top:-3px;font-size: 17px;font-family: cursive;">Early Blight</p>
    </div>
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Late_blight/1.jpg">
        <p style="margin-top:-3px;font-size: 17px;font-family: cursive;">Late Blight</p>
    </div>
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Tomato_Yellow_Leaf_Curl/1.jpg">
        <p style="margin-top:-3px;font-size: 17px;font-family: cursive;">Yellow Leaf Curl</p>
    </div>
</div>
<div class="row center">
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Spider_mites/1.jpg">
        <p style="margin-top:-3px;font-size: 17px;font-family: cursive;">Spider Mites </p>
    </div>
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Leaf_Mold/1.jpg">
        <p style="margin-top:-3px;font-size: 17px;font-family: cursive;">Leaf Mold</p>
    </div>
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Mosaic_virus/1.jpg">
        <p style="margin-top:-3px;font-size: 17px;font-family: cursive;">Mosaic Virus</p>
    </div>
</div>
<div class="row center">
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Septoria_leaf_spot/1.jpg">
        <p style="margin-top:-3px;font-size: 17px;font-family: cursive;">Septoria Leaf Spot</p>
    </div>
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Bacterial_spot/1.jpg">
        <p style="margin-top:-3px;font-size: 17px;font-family: cursive;">Bacterial Spot</p>
    </div>
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Powdery_mildew/1.jpg">
        <p style="margin-top:-3px;font-size: 17px;font-family: cursive;">Powdery Mildew</p>
    </div>
</div>