<div class="green lighten-1" id="about-us" style="width:'100%', hight: 100px; padding-left: 40px;padding-right: 40px; margin-top:60px; padding-top: 20px">
    <div class="row center">
        <div class="input-field col s12 m3" style="border-left: 1px solid #ccc;border-right: 1px solid #ccc;">
            <p style="color: white;margin-top:-3px;font-size: 17px;font-family: cursive;">
            We are a group of three final year students from the Faculty of Information Technology, University of Moratuwa, working on a research project to identify tomato diseases using image processing and machine learning. Our goal is to develop a system that can accurately diagnose and classify different diseases affecting tomato plants, using computer vision techniques and advanced algorithms. Through this project, we hope to contribute to the field of agricultural technology and help farmers to improve their crop yield and quality. Thank you for visiting our website and supporting our work.
            </p>
        </div>
        <div style="border-right: 1px solid #ccc;" class="input-field col s12 m3">
            <img style="box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:150px;aspect-ration:1" src="../static/images/184097G.png">
            <p style="color: white;margin-top:-3px;font-size: 17px;font-family: cursive;">K.A.S. Madushanka</p>
            <img onmouseover="this.style.transform='scale(1.2)'" onmouseout="this.style.transform='scale(1)'" style="width:30px;aspect-ration:1;filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);" src="../static/images/gmail.png">
            <br>
            <img onmouseover="this.style.transform='scale(1.2)'" onmouseout="this.style.transform='scale(1)'" style="filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);width:30px;aspect-ration:1" src="../static/images/linkedin.png">
            <br>
            <img onmouseover="this.style.transform='scale(1.2)'" onmouseout="this.style.transform='scale(1)'" style="filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);width:30px;aspect-ration:1" src="../static/images/facebook.png">
            <br>
            <img onmouseover="this.style.transform='scale(1.2)'" onmouseout="this.style.transform='scale(1)'" style="filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);width:30px;aspect-ration:1" src="../static/images/insta.png">
            <br>
            <img onmouseover="this.style.transform='scale(1.2)'" onmouseout="this.style.transform='scale(1)'" style="filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);width:30px;aspect-ration:1" src="../static/images/hacker.png">
        </div>
        <div style="border-right: 1px solid #ccc;" class="input-field col s12 m3">
            <img style="box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:150px;aspect-ration:1" src="../static/images/184014D.png">
            <p style="color: white;margin-top:-3px;font-size: 17px;font-family: cursive;">W.A.L. Ayesha</p>
            <img onmouseover="this.style.transform='scale(1.2)'" onmouseout="this.style.transform='scale(1)'" style="width:30px;aspect-ration:1;filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);" src="../static/images/gmail.png">
            <br>
            <img onmouseover="this.style.transform='scale(1.2)'" onmouseout="this.style.transform='scale(1)'" style="filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);width:30px;aspect-ration:1" src="../static/images/linkedin.png">
            <br>
            <img onmouseover="this.style.transform='scale(1.2)'" onmouseout="this.style.transform='scale(1)'" style="filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);width:30px;aspect-ration:1" src="../static/images/facebook.png">
            <br>
            <img onmouseover="this.style.transform='scale(1.2)'" onmouseout="this.style.transform='scale(1)'" style="filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);width:30px;aspect-ration:1" src="../static/images/insta.png">
            <br>
            <img onmouseover="this.style.transform='scale(1.2)'" onmouseout="this.style.transform='scale(1)'" style="filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);width:30px;aspect-ration:1" src="../static/images/hacker.png">
        </div>
        <div style="border-right: 1px solid #ccc;" class="input-field col s12 m3">
            <img style="box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:150px;aspect-ration:1" src="../static/images/184096D.png">
            <p style="color: white;margin-top:-3px;font-size: 17px;font-family: cursive;">M.H.I. Maduhansi</p>
            <img onmouseover="this.style.transform='scale(1.2)'" onmouseout="this.style.transform='scale(1)'" style="width:30px;aspect-ration:1;filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);" src="../static/images/gmail.png">
            <br>
            <img onmouseover="this.style.transform='scale(1.2)'" onmouseout="this.style.transform='scale(1)'" style="filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);width:30px;aspect-ration:1" src="../static/images/linkedin.png">
            <br>
            <img onmouseover="this.style.transform='scale(1.2)'" onmouseout="this.style.transform='scale(1)'" style="filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);width:30px;aspect-ration:1" src="../static/images/facebook.png">
            <br>
            <img onmouseover="this.style.transform='scale(1.2)'" onmouseout="this.style.transform='scale(1)'" style="filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);width:30px;aspect-ration:1" src="../static/images/insta.png">
            <br>
            <img onmouseover="this.style.transform='scale(1.2)'" onmouseout="this.style.transform='scale(1)'" style="filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);width:30px;aspect-ration:1" src="../static/images/hacker.png">
        </div>
    </div>
</div>