<hr style="margin-top:50px">
<div class="row center">
    <h5 class="header col s12 light">
    Disease prediction
    </h5>
</div>
<h3 class="header center green-text">Healthy Leaf</h3>
<hr style="margin-bottom:20px">

<div class="row center">
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Healthy/1.jpg">
    </div>
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Healthy/2.jpg">
    </div>
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Healthy/3.jpg">
    </div>
</div>