<!DOCTYPE html>
<html >

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Tomato disease prediction</title>
  
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <script>
    function previewImage(event) {
      var reader = new FileReader();
      reader.onload = function(){
        var img = document.getElementById("image-preview");
        img.src = reader.result;
        img.style.display = "block";
      }
      reader.readAsDataURL(event.target.files[0]);
    }
    
    function checkFile() {
  const fileInput = document.getElementById('file-upload');
  const submitBtn = document.getElementById('submit-btn');
  if (fileInput.files.length > 0) {
    submitBtn.disabled = false;
  } else {
    submitBtn.disabled = true;
  }
}
  </script>
</head>

<body>

    <nav class="green lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">
            <img style="width:35px;aspect-ration:1,margin-bottom:-20px" src="../static/images/tomato.png">
            <span style="font-family: 'Oswald', cursive;">TDP</span>
        </a>
      <ul class="right hide-on-med-and-down">
        <li><a style="font-size: 17px;font-weight: 400;font-family: 'Oswald', cursive;" href="#Categories">Categories</a></li>
        <li><a style="font-size: 17px;font-weight: 400;font-family: 'Oswald', cursive;" href="#about-us">About Us</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 style="font-family: 'Oswald', cursive;" class="header center green-text">Tomato Disease Prediction</h1>
      <div class="row center">
        <h5 class="header col s12 light">
        Predict the tomato disease occurrence among 9 categories
        <br>
        </h5>
      </div>

    <div class="row">
        <form onsubmit="return checkFile();" action="{{ url_for('predict')}}" method="post" enctype="multipart/form-data" class="col s12">

          <div style="display: flex;justify-content: center;">
          <img id="image-preview" src="#" alt="Image Preview" style="display:none;">
          </div>
            
          <label style="text-align:center; padding:10px" for="file-upload" id="file-drag">
              <div id="start">
                <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
              </div>
          </label>
            
          <input onchange="previewImage(event);checkFile();" style="display: none;" id="file-upload" type="file" name="image" accept="image/*" required="required" class="validate"><br>

          
          <div class="row center">
              <button disabled id="submit-btn" type="submit" class="btn-large waves-effect waves-light orange">Predict Disease</button>
          </div>
        </form>
    </div>
         
        <!-- 
        <br>
          {{ prediction_text }}
       <br>
       <br>
         {{ prediction_text1 }}
      <br>
      -->
      
      <div id="scroll_here">
      
          {% if prediction_disease=="Tomato___Tomato_Yellow_Leaf_Curl_Virus" %}
          
              {% include yellowLeafCurl %}
          
          {% endif %}
          
          
          
          {% if prediction_disease=="Tomato___Early_blight" %}
          
              {% include earlyBlight %}
          
          {% endif %}
          
          
          
          {% if prediction_disease=="Tomato___Late_blight" %}
          
              {% include lateBlight %}
          
          {% endif %}
          
       </div>
          
          
          {% include categories %}
          
   </div>
    
    {% include footer %}
      
  </div>
    
    
    {% if scroll_to %}
        <script>
            document.querySelector('#{{ scroll_to }}').scrollIntoView({ behavior: 'smooth' });
        </script>
    {% endif %}
  
</body>
</html>