<hr style="margin-top:50px">
<div class="row center">
    <h5 class="header col s12 light">
    Disease prediction
    </h5>
</div>
<h3 class="header center green-text">Tomato Late Blight</h3>
<hr style="margin-bottom:20px">

<div class="row center">
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Late_blight/1.jpg">
    </div>
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Late_blight/2.jpg">
    </div>
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Late_blight/3.jpg">
    </div>
</div>

<div>
    <h5 class="header center green-text">Introduction</h5>
    <p style="font-size: 17px;line-hight: 5px">
        Tomato late blight is a fungal disease caused by the organism Phytophthora infestans. This disease is a significant threat to tomato production worldwide and can cause severe damage to the tomato crop if not controlled. The disease can spread rapidly in cool and humid conditions, leading to defoliation and loss of yield. Control measures for tomato late blight include the use of resistant tomato varieties, fungicides, and cultural practices such as good sanitation and proper plant spacing.
    </p>
    <br>
    <h5 class="header center green-text">Identification</h5>
    <ul>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Symptoms of tomato late blight include dark green to black lesions on leaves, which may have a water-soaked appearance and can rapidly spread to other leaves and fruit</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Infected leaves may become brown and papery, and the plant may exhibit a characteristic musty odor</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Under cool and humid conditions, a white, fuzzy growth of the fungus may be visible on the underside of infected leaves</li>
    </ul>
    <br>
    <h5 class="header center green-text">Managing and Treatment</h5>
    <ul>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Use resistant tomato varieties that have been bred to resist late blight</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Use fungicides to control late blight; follow label instructions and use a fungicide rotation to prevent the development of resistance</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Cultural practices such as good sanitation, proper plant spacing, and crop rotation can help to reduce the incidence and severity of late blight</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Remove and destroy infected plant material to prevent the spread of the disease</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Practice good sanitation by removing weeds and debris that may harbor the fungus</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Maintain proper spacing between plants to promote good air circulation and reduce humidity</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Avoid overhead irrigation to prevent water from sitting on the leaves, which can promote fungal growth</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Monitor plants closely for signs of infection and take action quickly to prevent the spread of the disease.</li>
    </ul>
</div>