<hr style="margin-top:50px">
<div class="row center">
    <h5 class="header col s12 light">
    Disease prediction
    </h5>
</div>
<h3 class="header center green-text">Tomato Mosaic Virus</h3>
<hr style="margin-bottom:20px">

<div class="row center">
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Mosaic_virus/1.jpg">
    </div>
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Mosaic_virus/2.jpg">
    </div>
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Mosaic_virus/3.jpg">
    </div>
</div>

<div>
    <h5 class="header center green-text">Introduction</h5>
    <p style="font-size: 17px;line-hight: 5px">
        Tomato mosaic virus (ToMV) is a plant virus that affects tomatoes and other plants in the Solanaceae family. It is one of the most common and destructive viral diseases in tomato crops worldwide. ToMV causes a mosaic pattern of light and dark green areas on the leaves, stunted growth, and reduced fruit production. The virus is primarily transmitted through mechanical means, such as contaminated tools or hands, as well as through infected seeds or infected plant debris. Control measures for tomato mosaic virus include the use of disease-resistant tomato varieties, good sanitation practices, and strict hygiene protocols.
    </p>
    <br>
    <h5 class="header center green-text">Identification</h5>
    <ul>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Symptoms of tomato mosaic virus include a mosaic pattern of light and dark green areas on the leaves, giving them a mottled appearance</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">The leaves may also exhibit curling, distortion, and a puckered or blistered surface</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Infected plants may appear stunted and have reduced fruit size and yield</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">In some cases, the symptoms may be mild or absent, making it important to test suspect plants in a laboratory for accurate diagnosis</li>
    </ul>
    <br>
    <h5 class="header center green-text">Managing and Treatment</h5>
    <ul>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Plant disease-resistant tomato varieties that are bred to be resistant to tomato mosaic virus</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Practice strict sanitation measures, including cleaning tools and equipment thoroughly between uses and avoiding contact with infected plants</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Remove and destroy infected plant material, including weeds, to prevent the spread of the virus</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Implement strict hygiene protocols, such as washing hands thoroughly before handling plants, to minimize the risk of virus transmission</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Use certified virus-free seeds to avoid introducing the virus into your crop</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Control aphids, which can transmit the virus, through the use of insecticides or other pest management strategies</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Follow integrated pest management (IPM) practices to minimize the spread of the virus and maintain overall plant health</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Consult with local agricultural extension services or plant pathology experts for specific recommendations on managing tomato mosaic virus in your region.</li>
    </ul>
</div>