<hr style="margin-top:50px">
<div class="row center">
    <h5 class="header col s12 light">
    Disease prediction
    </h5>
</div>
<h3 class="header center green-text">Tomato Powdery Mildew</h3>
<hr style="margin-bottom:20px">

<div class="row center">
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Powdery_mildew/1.jpg">
    </div>
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Powdery_mildew/2.jpg">
    </div>
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Powdery_mildew/3.jpg">
    </div>
</div>

<div>
    <h5 class="header center green-text">Introduction</h5>
    <p style="font-size: 17px;line-hight: 5px">
        Tomato powdery mildew is a fungal disease caused by various species of the genus Leveillula and Oidium. It is a common problem in tomato plants, particularly in regions with high humidity and moderate temperatures. Powdery mildew appears as a white or grayish powdery growth on the leaves, stems, and other parts of the plant. The disease can weaken the plant, reduce fruit quality, and limit overall yield. Effective management and treatment strategies are crucial to control powdery mildew and protect tomato crops.
    </p>
    <br>
    <h5 class="header center green-text">Identification</h5>
    <ul>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Powdery mildew appears as a white or grayish powdery growth on the upper surface of leaves, stems, and other plant parts</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">The powdery growth may also develop on the underside of leaves in severe infestations</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Infected leaves may exhibit yellowing, curling, and distortion</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">As the disease progresses, infected plant parts may become stunted or deformed</li>
    </ul>
    <br>
    <h5 class="header center green-text">Managing and Treatment</h5>
    <ul>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Provide adequate spacing between plants to promote good air circulation and reduce humidity, which inhibits fungal growth</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Avoid overhead irrigation and water plants at the base to keep the foliage dry</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Apply fungicides labeled for powdery mildew control; follow label instructions and apply preventatively or at the first signs of infection</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Use a fungicide rotation with different active ingredients to prevent the development of resistance</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Apply horticultural oils or insecticidal soaps to suppress powdery mildew; repeat applications may be necessary</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Introduce biological control agents, such as beneficial fungi or predatory mites, which can help reduce powdery mildew populations naturally</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Practice good sanitation by cleaning tools and equipment to prevent the spread of the fungus</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Monitor plants regularly for signs of infection and take prompt action to prevent the spread of powdery mildew</li>
    </ul>
</div>