<hr style="margin-top:50px">
<div class="row center">
    <h5 class="header col s12 light">
    Disease prediction
    </h5>
</div>
<h3 class="header center green-text">Tomato Septoria Leaf Spot</h3>
<hr style="margin-bottom:20px">

<div class="row center">
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Septoria_leaf_spot/1.jpg">
    </div>
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Septoria_leaf_spot/2.jpg">
    </div>
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Septoria_leaf_spot/3.jpg">
    </div>
</div>

<div>
    <h5 class="header center green-text">Introduction</h5>
    <p style="font-size: 17px;line-hight: 5px">
        Tomato Septoria leaf spot, caused by the fungus Septoria lycopersici, is a common and destructive disease that affects tomato plants worldwide. It primarily affects the foliage of the tomato plant, causing small, dark spots with light centers on the leaves. As the disease progresses, the spots enlarge and merge, leading to defoliation and reduced yield. Proper management and treatment strategies are essential to control Septoria leaf spot and prevent significant damage to tomato crops.
    </p>
    <br>
    <h5 class="header center green-text">Identification</h5>
    <ul>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Symptoms of Septoria leaf spot include small, circular spots on the leaves with dark brown or black margins and light tan or gray centers</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">The spots may have tiny black fruiting bodies (pycnidia) in the center</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Lesions often appear on the lower leaves first and gradually progress upward on the plant</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Infected leaves may turn yellow and eventually die, leading to defoliation</li>
    </ul>
    <br>
    <h5 class="header center green-text">Managing and Treatment</h5>
    <ul>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Plant disease-resistant tomato varieties that have been bred to be resistant to Septoria leaf spot</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Practice proper plant spacing and pruning to promote good air circulation and reduce humidity, which can help inhibit fungal growth</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Remove and destroy infected leaves and plant debris to reduce the source of inoculum</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Apply fungicides labeled for Septoria leaf spot control; follow label instructions and apply preventatively or at the first signs of infection</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Use a fungicide rotation with different active ingredients to prevent the development of resistance</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Implement a regular irrigation schedule that avoids overhead watering and keeps the foliage dry</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Practice good sanitation by cleaning tools and equipment to minimize the spread of the fungus</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Apply organic mulch around plants to help prevent soil splashing and reduce the risk of infection</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Monitor plants closely for signs of infection and take prompt action to prevent the spread of Septoria leaf spot</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Consult with local agricultural extension services or plant pathology experts for specific recommendations on managing Septoria leaf spot in your region.</li>
    </ul>
</div>