<hr style="margin-top:50px">
<div class="row center">
    <h5 class="header col s12 light">
    Disease prediction
    </h5>
</div>
<h3 class="header center green-text">Tomato Spider Mites</h3>
<hr style="margin-bottom:20px">

<div class="row center">
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Spider_mites/1.jpg">
    </div>
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Spider_mites/2.jpg">
    </div>
    <div class="input-field col s4">
        <img onmouseover="this.style.transform='scale(1.3)'" onmouseout="this.style.transform='scale(1)'" style="transition: transform 0.3s ease-in-out;box-shadow: 0 30px 40px rgba(0,0,0,0.15);border-radius: 25px;width:200px;aspect-ration:1" src="../static/images/Spider_mites/3.jpg">
    </div>
</div>

<div>
    <h5 class="header center green-text">Introduction</h5>
    <p style="font-size: 17px;line-hight: 5px">
        Tomato spider mites, also known as two-spotted spider mites (Tetranychus urticae), are tiny arachnids that can cause significant damage to tomato plants. These pests are a common problem in many regions and can rapidly multiply under hot and dry conditions. Spider mites feed on the sap of tomato plants, causing yellowing, stippling, and wilting of the leaves. Severe infestations can lead to defoliation and reduced fruit production. Effective management and treatment of tomato spider mites are crucial to protect tomato crops.
    </p>
    <br>
    <h5 class="header center green-text">Identification</h5>
    <ul>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Spider mites are tiny, barely visible pests that typically have two dark spots on their bodies</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">They can be found on the undersides of leaves and may be observed with the naked eye or a hand lens</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Infested leaves may exhibit yellowing, stippling (tiny yellow or white spots), and a general decline in health</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Fine webbing may also be present on the leaves and surrounding areas</li>
    </ul>
    <br>
    <h5 class="header center green-text">Managing and Treatment</h5>
    <ul>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Monitor tomato plants regularly for signs of spider mite infestation, particularly on the undersides of leaves</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Implement cultural practices that discourage spider mite populations, such as maintaining proper plant spacing and avoiding overcrowding</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Introduce predatory insects or mites, such as ladybugs or predatory mites, which can help control spider mite populations naturally</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Use a forceful spray of water to dislodge and reduce spider mite numbers on plants</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Apply insecticidal soaps, neem oil, or horticultural oils to suffocate and control spider mites; repeat applications may be necessary</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Use acaricides (miticides) labeled for spider mite control if infestations are severe or other control methods are not effective; rotate different active ingredients to prevent resistance</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Consider biological control agents, such as the predatory mite Phytoseiulus persimilis, which specifically targets spider mites</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Remove and destroy heavily infested plant material to prevent the spread of spider mites</li>
        <li style="font-size: 17px;margin-left: 15px;list-style-type: square;">Maintain a healthy growing environment for tomatoes, including appropriate watering and fertilization, to help plants withstand and recover from spider mite damage.</li>
    </ul>
</div>